<article id="peeps"
	<ol>
		<%if @peeps%>
			<% @peeps.each do |peep| %>
				<% @user = User.first(:id => peep.user_id)%>
				<li class="peep" ><p id="time-added">  <%=peep.time_added.strftime("%Y-%m-%d %H:%M")%></p><br/> 
					<p id="message">  <%=peep.message%></p><br/>
					<a id="see-replies" href="/replies/<%= peep.id %>">See Replies(<%= peep.replies.count %>)</a>
					<a id="reply" href="/replies/new/<%= peep.id %>" >Reply</a> 
					<h5 id="author">
						by <%=(@user.name).split(" ").each{|el| el.capitalize!}*' '%>  @<%=@user.user_name%><br/>
					</h5>
				</li>
			<%end%>
		<%end%>
	</ol>
	<a id="post-a-peep" class= "button" href="/peeps/new">Post your gossip</a>
</article>




